/* Google fonts import */
/** would change later **/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/*Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #d5d5d5;
    font-family: 'Chakra Petch', sans-serif;
    /*font-family: "Lato", sans-serif;*/
}

/* header element stylings */
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #b8b8b8
}


/* Header */


header{
background-color: #4024df;
background-image: linear-gradient(to right, rgba(53, 48, 57, 0.2), rgba(112, 32, 177, 1)  );
padding: 0 1rem;
position: fixed;
z-index: 99;
width: 100%;
box-shadow: 0 2px 2px #3a3a3a ;
display: flex;
align-items: baseline;
justify-content: space-between;

}

/* not optimaly fitting in mobile view */
#logo-image{
    display: none;
}


header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #4024df;
    background-image: linear-gradient(to right, rgba(53, 48, 57, 0.2), rgba(112, 32, 177, 1)  );
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/* Main Content */
main{
    background-color: #4024df;
    background-image: linear-gradient(to right, rgba(53, 48, 57, 0.2), rgba(112, 32, 177, 1) );
    /* Makes main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 45px;
    /* Enable flex properties for child element */
    display: flex;
    flex-direction: column;
}

#hero{
    background: url("../images/3dprinter-hero.webp") no-repeat center center/cover fixed;
    width: 100%;
    height: 550px;
    position: relative;
}

#cover-text{
    background-color: rgba(41, 39, 45, 0.9);
    position: absolute;
    bottom: 80px;
    left: 10px;
    width: 90%;
    min-height: 100px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 0px #C70DE8 ;
}

#cover-text>h2{
    color: rgb(237, 232, 238);
    letter-spacing: 1px;
    font-size: 20px;
}

main>div{
    padding-top: 20px;
    padding-bottom: 20px;

}


/* get started? */

#get-started>h3{
    padding-left: 10px;
    border-bottom: 1px solid #3a3a3a;
}


/* About section */
#about-us{
    background: transparent;
    /*background-image: linear-gradient(to right, rgba(53, 48, 57, 0.2), rgba(112, 32, 177, 1) );*/
    padding: 20px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#about-us>h2{
    margin-bottom: 5px;
    text-align: center;
}

#summary {
    position: relative;
    border-radius: 10px;
   /* background:  rgba(202, 202, 202, 0.5); */
    background-image: linear-gradient(to right, rgba(174, 162, 184, 0.5), rgba(174, 162, 184, 0.9));
    box-shadow: 0px 0px 5px 3px rgba(76, 6, 206, 0.8);
    color: #1f1f1f;
    justify-content: center;
    padding: 1.5rem 1rem;

    display: inline-block;
    
}


/* about toggle */
#about-toggle:checked~#summary {
   display: block;
}
#about-toggle{
    display: none;
}

.about-toggle-label {
    font-size: 1.5rem;
    margin-left: 1rem;
}

/* about toggle */

/* products page */

#products-main{
    background-color: #4024df;
    background-image: linear-gradient( to bottom right rgba(112, 32, 177, 0.5), rgba(76, 6, 206, 0.5));
    display: flex;

}

#technologies{
    display: none;
    padding: 2rem;
}

#tech-points {
    margin: 20px 40px;
    padding: 20px 40px;
    width: 40%;
    background-image: linear-gradient(to right, rgba(174, 162, 184, 0.5), rgba(174, 162, 184, 0.9));
    border-radius: 20px;
    box-shadow: 0px 0px 5px 3px rgba(76, 6, 206, 0.8);
    color:#1f1f1f;
}

.list-heading{
    font-weight: bold;
}

.list-info{
    font-weight: 400;
    margin-left: 2rem;
}

/* steps section */
#steps{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#steps>div{
    margin: 2rem;
}

#step-divs{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: small;
    align-items: center;
}

.container{
    background-color: #3a3a3a;
    width: 20%;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.arrow{
    border: #1f1f1f;
    background-color: #d5d5d5 ;
    width: 17%;
    height: 2px;
}

/* Footer */
footer{
    background-color: rgb(94, 62, 182);
    margin-top: 30px;
}

#social-networks {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    list-style-type: none;
}

#social-networks i {
    font-size: 1.6rem;
    padding: 5%;
    color: #3a3a3a;
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width:768px) {

     /* Header */
     nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        background: transparent;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo-text {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem
    }

    #logo{
        display: flex;
        align-items: center;
    }

    #logo-image{
        display: inline-block;
    }

    /* Main */
    /* push main content down to give space to larger header*/
    main{
        margin-top: 100px;
    }
    
    #cover-text{
        width: 270px;
        left: 50px;
    }

    #summary{
        display: block;
    }

    /* product page */
    #technologies{
        display: block;
    }

}
/* Media query: Larger devices (laptops and desktops) (992px and up) */
@media screen and (min-width: 992px) {

    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    #about-us{
        width: 60%;
    }
}