/* Google fonts import */
/** would change later **/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/*Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #d5d5d5;
    font-family: 'Chakra Petch', sans-serif;
    /*font-family: "Lato", sans-serif;*/
}

/* header element stylings */
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #b8b8b8
}

h2,h3{
    color: #3a3a3a
}

.hidden-headings{
    display: none;
}

/* Header */

header{
background-color: #4024df;
background-image: linear-gradient(to right, rgba(53, 48, 57, 0.2), rgba(112, 32, 177, 1)  );
padding: 0 1rem;
position: fixed;
z-index: 99;
width: 100%;
box-shadow: 0 2px 2px #3a3a3a ;
display: flex;
align-items: baseline;
justify-content: space-between;

}

/*  Only displayed in larger screens    */
#logo-image{
    display: none;
}


header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #b8b8b8;
}


/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #4024df;
    background-image: linear-gradient(to right, rgba(53, 48, 57, 0.2), rgba(112, 32, 177, 1)  );
    width: 100%;
    left: 0;
    padding: 1rem 1rem 0;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/* Main Content */

main{
    background-color: #4024df;
    background-image: linear-gradient(to right, rgba(174, 162, 184, 0.5), rgba(174, 162, 184, 0.9));
    /* Makes main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 45px;
    /* Enable flex properties for child element */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero{
    background: url("../images/3dprinter-hero.webp") no-repeat center center/cover fixed;
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
}

#cover-text{
    background-color: rgba(41, 39, 45, 0.9);
    width: 90%;
    min-height: 100px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 0px #C70DE8 ;
    display: flex;
    align-items: center;
}

#cover-text>h2{
    color: rgb(237, 232, 238);
    letter-spacing: 1px;
    font-size: 20px;
}



/* get started section */


/* general button style */
.link-button{
    text-decoration: none;
    border: 1px groove rgba(76, 6, 206, 0.5);
    background-color: rgba(112, 32, 177, 1);
    color: #d5d5d5;
    padding: 1.5rem;
    border-radius: 200px;
    text-align: center;
    font-weight: 700;
    font-size: 1.1rem;
}




/* About section */

.title{
    margin-bottom: 1rem;
    text-align: center;

}

#about-us{
    border-top: 1px solid rgb(161 45 255 / 50%);
}

.home-container{
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-copy {
    color: #1f1f1f;
    padding: 1.5rem 0;
    text-align: center; 
}



/* products page */

#products-main{
    background-color: #4024df;
    display: flex;
    align-items: normal;

}

/* Technologies section */

#technologies{
    display: none;
    padding: 2rem 0;
    margin: 20px 0; 
}

#tech-container{
    display: flex;
    width: 100%;
}


#tech-points {
    margin: 40px 0;
    padding: 20px 40px;
    color:#1f1f1f;
}



.list-heading{
    font-weight: bold;
    list-style-position: inside;
    padding: 2px 20px;
    border-left: 2px solid rgba(76, 6, 206, 0.5);
    margin-bottom: 20px;
}

.list-info{
    font-weight: 400;
    margin-left: 1rem;
}

#technologies video{
    display: none;
}


/* steps section */

#steps{
    align-items: center;
    display: flex;
    flex-direction: column;
    
    
}

#steps>div{
    margin: 2rem 0;
}



#step-divs{
    /* align-self: center; */
    display: flex;
    width: 98%;
    justify-content: center;
    font-size: small;
    align-items: center;
}



.step-container{
    text-decoration: none;
    color: inherit;
    background-color: rgba(112, 32, 177, 1);
    width: 65px;
    height: 65px;
    border-radius: 90px;
    padding: 10px 5px 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.arrow{
    border: #1f1f1f;
    background-color: #d5d5d5 ;
    width: 17%;
    height: 2px;
}

#step-photo1{
    object-fit: fill;
    position: relative;
    left: 0;
    width: 100%;
    max-width: 500px;
    box-shadow: 0px 1px 20px 0px #C70DE8;
}


#sites-form{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 4%; 
}

#sites-form>div{
    flex-grow: 1;
}

/* models section */

#models{
    margin: 0px 0px 50px ;
}

 #models div{
    display: flex;
    flex-wrap: wrap;

} 

#models h3{
    margin-bottom: 20px;
}
 #models a{
    margin: 2px 10px 20px 10px ;
    padding: 2px 8px;
    border-radius: 5px;
    width: 130px;
    font-size: 0.9rem;
} 

/* order form section */

#form-section{
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-end;
    
}

#order-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.4);
    padding: 10px;
    border-radius: 4px;
    max-width: 450px;
    width: 100%;
}

#order-form>h2{
    margin-bottom: 15px;
}


fieldset{
    padding: 10px;
    margin-bottom: 10px;
}

 fieldset>div{
    /* width: 90%; */
    margin: 15px 0;
    line-height: 17px;
} 


.text-input{
    padding: 2px;
    border-radius: 3px;
    margin: 10px 0px 5px;
    background: transparent;
    border: 1px solid #fafafa;
    width: 100%;
    color: #ffffff;
}

#issue{
    width: unset;
}


.color-input-divs{
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.input-group{
    margin-right: 10px;
} 

.color-input-divs input{
    margin-top: 5px;
}


fieldset span{
    font-size: 11px;
}

textarea::placeholder{
    color: #b8b8b8;
}

.radio-buttons{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#order-button{
    margin: 15px 0 2px;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 0.9rem;

}



/* Contact page */

#contact-main{
    display: flex;
    align-items: normal;
}

#contact{
    background: url('../images/printing-3.png');
    background-size: cover;
    flex-grow: 1;
    padding: 20px 10px;
    display: flex;
    align-items: center;
}


#contact-form{
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.9);
    padding: 20px;
}

#contact-form h2 {
    margin-bottom: 15px;
    color: #b8b8b8;
}

#contact-form>div{
    margin: 15px 0;
    line-height: 17px
}


/* Footer */
footer{
    background-color: rgb(94, 62, 182);
    text-align: center;
    padding: 10px 0;
}

footer i{
    padding-left: 5px;
}

#social-networks {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    list-style-type: none;
}

#social-networks i {
    font-size: 1.6rem;
    color: #3a3a3a;
}

#social-networks li{
    padding: 0 15px;
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width:768px) {

     /* Header */
     nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        background: transparent;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo-text {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem
    }

    #logo{
        display: flex;
        align-items: center;
    }

    #logo-image{
        display: inline-block;
    }

    /* Main content*/

    /* push main content down to give space to larger header*/
    main{
        margin-top: 100px;
    }
    
    #hero{
        justify-content: flex-start;
        padding-left: 50px;
    }

    #cover-text{
        width: 270px;
    }

    .home-container{
        width: 60%;
    }

    #summary{
        display: block;
    }

    /* Product Page */
    #technologies{
        display: flex;
        flex-direction: column;
    }
   
    #step-divs{
        width: 80%;
        font-size: medium;
    }

    .step-container{
        width: 120px;
        height: 120px;
        font-size: 1.2rem;
    }

    #step-photo1{
        display: none;
    }


    #models div{
        width: 70%;
        /* padding: 0px 12px; */
    }

    /* #radio-buttons{
        width: 60%;
    } */

    /* #sites-form{
         padding: 0px;
         margin: 20px 0;
    } */

    /* Contact Page*/

    #contact{
        background-position: center;
        position: relative;
    }

    #contact-form {
        max-width: 400px;
        margin-left: 10%;
    }

    
}
/* Media query: Larger devices (laptops and desktops) (992px and up) */
@media screen and (min-width: 992px) {

    #menu a:hover {
        border-bottom: 1px solid #b8b8b8;
    }


    #step-divs{
        width: 794px;
        font-size: medium;
    }

    .link-button:hover{
        background-color: rgba(112, 32, 177, 0.5);
        box-shadow:  0px 5px 20px 0px rgba(112, 32, 177, 1) ;
    }

    .button-hover:hover{
        background-color: rgba(112, 32, 177, 0.5);
    }

    #products-main{
        padding: 20px 10%;
    }

    #tech-points{
        margin: 60px 0;
        padding-left: 0;
    }

    #technologies video{
        display: block;
    }

    #vid-container{
        width: 30%;
        margin-top: 4rem;
    }

    #models a:hover{
        box-shadow: none;
    }

   

    #get-started a{
        width: 300px;
       
    }

    .text-input:hover {
        border-color: #d86bf1
    }

    #sites-form{
        padding: 0px;
        margin: 20px 0;
   }

   #models div{
        width: 80%;
        max-width: 481px;
        /* padding: 0px 12px; */
    }

    #sites-form>div{
        width: 50%;
    }

    /* #order-form {
        width: 90%; 
        
    } */

    /* fieldset>div{
        width: 60%;
    } */

    #order-button:hover{
        box-shadow: none;
    }

    #social-networks i:hover {
        color: #d86bf1;
    }
    

}